<% layout("layout") %>

<div class="about-story pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="story-img">
                    <img src="../../front/assets/img/banner/11.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story-details pl-50">
                    <div class="story-details-top">
                        <h2>WELCOME TO <span>ezone</span></h2>
                        <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an
                            will give you a complete account of the system, and expound the actual teachings of the eat
                            explorer. </p>
                    </div>
                    <div class="story-details-bottom">
                        <h4>WE START AT 2015</h4>
                        <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an
                            will give you a complete account of the system, and expound the actual teachings of the eat
                            explorer.</p>
                    </div>
                    <div class="story-details-bottom">
                        <h4>WIN BEST ONLINE SHOP AT 2017</h4>
                        <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an
                            will give you a complete account of the system, and expound the actual teachings of the eat
                            explorer. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goal-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR VISSION</h3>
                    <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an will
                        give you a ete account of the system, and expound the actual teangs of the eat explorer of the
                        truth.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR MISSION</h3>
                    <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an will
                        give you a ete account of the system, and expound the actual teangs of the eat explorer of the
                        truth.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="goal-wrapper mb-30">
                    <h3>OUR GOAL</h3>
                    <p>ezone provide how all this mistaken idea of denouncing pleasure and sing pain was born an will
                        give you a ete account of the system, and expound the actual teangs of the eat explorer of the
                        truth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
