<% layout("layout") %> 

<div class="slider-area">
  <div class="slider-active owl-carousel">
    <div class="single-slider-4 slider-height-6 bg-img"
      style="background-image: url(../../../front/assets/img/slider/9.jpg)">
      <div class="container">
        <div class="row">
          <div class="ml-auto col-lg-6">
            <div class="furniture-content fadeinup-animated">
              <h2 class="animated">Comfort <br>Collection.</h2>
              <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a class="furniture-slider-btn btn-hover animated" href="product-details.html">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider-4 slider-height-6 bg-img"
      style="background-image: url(../../../front/assets/img/slider/19.jpg)">
      <div class="container">
        <div class="row">
          <div class="ml-auto col-lg-6">
            <div class="furniture-content fadeinup-animated">
              <h2 class="animated">Comfort <br>Collection.</h2>
              <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a class="furniture-slider-btn btn-hover animated" href="product-details.html">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popular-product-area wrapper-padding-3 pt-115 pb-115">
  <div class="container-fluid">
    <div class="section-title-6 text-center mb-50">
      <h2>Popular Product</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text</p>
    </div>
    <div class="product-style">
      <div class="popular-product-active owl-carousel">
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/1.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Sofa Chaise Sleeper</a></h4>
            <span>$90.00</span>
          </div>
        </div>
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/2.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Darcy Sofa</a></h4>
            <span>$90.00</span>
          </div>
        </div>
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/3.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Bladen Sofa</a></h4>
            <span>$90.00</span>
          </div>
        </div>
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/4.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Ardenboro Sofa</a></h4>
            <span>$90.00</span>
          </div>
        </div>
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/1.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Daystar Sofa</a></h4>
            <span>$90.00</span>
          </div>
        </div>
        <div class="product-wrapper">
          <div class="product-img">
            <a href="#">
              <img src="../../../front/assets/img/product/furniture/2.jpg" alt="">
            </a>
            <div class="product-action">
              <a class="animate-left" title="Wishlist" href="#">
                <i class="pe-7s-like"></i>
              </a>
              <a class="animate-top" title="Add To Cart" href="#">
                <i class="pe-7s-cart"></i>
              </a>
              <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#">
                <i class="pe-7s-look"></i>
              </a>
            </div>
          </div>
          <div class="funiture-product-content text-center">
            <h4><a href="product-details.html">Trivia Accent Chair</a></h4>
            <span>$90.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="discount-area pt-70 pb-120">
  <div class="container">
    <div class="row">
      <div class="ml-auto col-lg-7">
        <div class="discount-img pl-70">
          <img src="../../../front/assets/img/banner/28.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="discount-details-wrapper">
          <h5>Verified quality</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <h2>Summer Discount <br>Up to 30%</h2>
          <p class="discount-peragraph">It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout.</p>
          <a class="discount-btn btn-hover" href="product-details.html">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="premium-banner-area">
  <div class="container">
    <div class="discount-wrapper">
      <img src="../../../front/assets/img/banner/29.jpg" alt="">
      <div class="discount-content">
        <h2>Örnek banner <br>Başlık</h2>
        <a href="#">DAHA FAZLA</a>
      </div>
    </div>
  </div>
</div>
<div class="product-style-area pt-120">
  <div class="coustom-container-fluid">
    <div class="section-title-7 text-center">
      <h2>All Products</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text</p>
    </div>
    <div class="product-tab-list text-center mb-65 nav" role="tablist">
      <a class="active" href="#furniture1" data-toggle="tab" role="tab">
        <h4>Ev </h4>
      </a>
      <a href="#furniture2" data-toggle="tab" role="tab">
        <h4>Arsa </h4>
      </a>
      <a href="#furniture3" data-toggle="tab" role="tab">
        <h4>Residance </h4>
      </a>
      <a href="#furniture4" data-toggle="tab" role="tab">
        <h4>Yapı Malzemeleri</h4>
      </a>
      <a href="#furniture5" data-toggle="tab" role="tab">
        <h4>Dekorasyon</h4>
      </a>
      <a href="#furniture6" data-toggle="tab" role="tab">
        <h4>Elektronik</h4>
      </a>
    </div>
    <div class="tab-content">
      <div class="tab-pane active show fade" id="furniture1" role="tabpanel">
        <div class="coustom-row-5">
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/6.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Sofa Chaise Sleeper</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/7.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Darcy Sofa</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/8.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Bladen Sofa</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/9.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Ardenboro Sofa</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="furniture2" role="tabpanel">
        <div class="coustom-row-5">
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/15.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Network Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/14.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Menga Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/13.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Seafront Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/12.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Trivia Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="furniture3" role="tabpanel">
        <div class="coustom-row-5">
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/10.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Trucker Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/9.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Trivia Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/8.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Seafront Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/6.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Network Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="furniture4" role="tabpanel">
        <div class="coustom-row-5">
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/10.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Trucker Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/9.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Trivia Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/6.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Seafront Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/9.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Menga Accent Chair</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="furniture5" role="tabpanel">
        <div class="coustom-row-5">
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/8.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Fashin Comfort 240b</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/6.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Fashin Comfort 240b</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/7.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Fashin Comfort 240b</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star black"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="custom-col-three-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
              <div class="product-img">
                <a href="#">
                  <img src="../../../front/assets/img/product/furniture/10.jpg" alt="">
                </a>
                <div class="product-action">
                  <a class="animate-left" title="Wishlist" href="#">
                    <i class="pe-7s-like"></i>
                  </a>
                  <a class="animate-top" title="Add To Cart" href="#">
                    <i class="pe-7s-cart"></i>
                  </a>
                  <a class="animate-right" title="Quick View" data-toggle="modal" data-target="#exampleModal"
                    href="#">
                    <i class="pe-7s-look"></i>
                  </a>
                </div>
              </div>
              <div class="funiture-product-content text-center">
                <h4><a href="product-details.html">Fashin Comfort 240b</a></h4>
                <span>$90.00</span>
                <div class="product-rating-5">
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                  <i class="pe-7s-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-all-product text-center">
      <a href="#">TÜM ÜRÜNLER</a>
    </div>
  </div>
</div>